<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg  navbar-custom" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img th:src="@{/images/logo.png}" src="../../static/images/logo.png" width="auto" height="80" class="d-inline-block align-top" alt=""/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link navbar-text" th:href="@{/admin}" href="#">admin-home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link navbar-text" th:href="@{/logout}" href="#">logout</a>
        </li>

      </ul>

    </div>
  </div>
</nav>

<div class="container mt-5">
  <div class="text-center">
    <h2  style="color: #FFD800;">Create a new offer</h2>
  </div>
  <div th:if="${errorMsg}" class="alert alert-danger text-center" role="alert">
    <span th:text="${errorMsg}"></span>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <form th:action="@{/admin/createOffer}" method="post" th:object="${offer}" class="needs-validation" novalidate>

        <div class="container">


          <div class="form-group">
            <label style="color:#FFD800" for="CategoryOffPercentage">Off Percentage:</label>
            <input type="number" id="CategoryOffPercentage" name="CategoryOffPercentage" class="form-control"  required>
          </div>

          <div class="form-group">
            <label style="color:#FFD800" for="categoryUuid">Select Category:</label>
            <select id="categoryUuid" name="categoryUuid" class="form-control" required>
              <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
          </div>

          <div class="form-group">
            <label style="color:#FFD800" for="productUuid">Select Product:</label>
            <select id="productUuid" name="productUuid" class="form-control" required>
              <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}"></option>
            </select>
          </div>

          <div class="form-group">
            <label style="color:#FFD800" for="count">Count:</label>
            <input type="number" id="count" name="count" class="form-control" required>
          </div>

          <div class="form-group">
            <label style="color:#FFD800" for="expiryDate">Expiry Date:</label>
            <input type="date" id="expiryDate" name="expiryDate" class="form-control" required>
          </div>

          <button class="btn btn-warning btn-block" type="submit">Create Offer</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  const categorySelect = document.getElementById("categoryUuid");
  const productSelect = document.getElementById("productUuid");

  categorySelect.addEventListener("change", function () {
      const categoryValue = this.value;
      if (categoryValue !== "") {
          productSelect.disabled = true;
          productSelect.value = "";
          // You can use categoryValue here
          console.log("Selected category value: " + categoryValue);
      } else {
          productSelect.disabled = false;
      }
  });

  productSelect.addEventListener("change", function () {
      const productValue = this.value;
      if (productValue !== "") {
          categorySelect.disabled = true;
          categorySelect.value = "";
          // You can use productValue here
          console.log("Selected product value: " + productValue);
      } else {
          categorySelect.disabled = false;
      }
  });
</script>



<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>