<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>My Wallet</title>
    <style>
        .card {
            width: 100%;
            margin: 10px 0;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            background-color: #21446B; /* Background color for all cards */
        }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-custom ">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/logo.png}" src="../static/images/logo.png" width="100" height="50" class="d-inline-block align-top img-fluid" alt="Logo" />
        </a>
        <button class="navbar-toggler custom-toggler text-primary" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span style="font-size: 24px; color: gold;" class="navbar-toggler-icon">&#9776;</span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active mx-3">
                    <a class="nav-link text-warning" style="font-size: 20px;" th:href="@{/}" href="#">
                        <i class="fa-solid fa-house" style="color: #ffd800;"></i> Home
                    </a>
                </li>
                <li class="nav-item active mx-3">
                    <a class="nav-link text-warning" style="font-size: 20px;" th:href="@{/shop}" href="#">
                        <i class="fa-solid fa-store" style="color: #ffd800;"></i> Shop
                    </a>
                </li>
                <li class="nav-item active mx-3">
                    <a class="nav-link text-warning" style="font-size: 20px;" th:href="@{/user/userDashboard}" href="#">
                        <i class="fa-solid fa-user" style="color: #ffd800;"></i> Profile
                    </a>
                </li>
                <li class="nav-item active mx-3">
                    <a class="nav-link text-warning" style="font-size: 20px;" th:href="@{/cart/goToCart}" href="#">
                        <i class="fa-solid fa-cart-shopping" style="color: #ffd800;"></i> Cart
                    </a>
                </li>
                <li class="nav-item active mx-3">
                    <span class="nav-link" th:text="${cartCount}">0</span>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link text-white" style="font-size: 20px;" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">
                        <i class="fa-solid fa-sign-out-alt" style="color: #ffd800;"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div th:if="${successMsg}" class="alert alert-success mt-3" role="alert">
    <span th:text="${successMsg}"></span>
</div>

<div class="container col-md-10 content-wrapper pt-3 wallet-container">

    <div class="row justify-content-center">



        <div class="col-md-8 col-lg-7">
            <div th:if="${errorMessage}" class="alert alert-danger">
                <p th:text="${errorMessage}"></p>
            </div>

            <div th:if="${successMessage}" class="alert alert-success">
                <p th:text="${successMessage}"></p>
            </div>
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title" style="color: #FFD800;">
                        <i class="fas fa-wallet"></i> Wallet
                    </h2>
                    <hr style="border-color: #FFD800;">

                    <div class="wallet-info">
                        <span style="font-size: 24px; color: #FFD800;">Welcome :
                            <strong th:text="${user.firstName}" style="color: white; font-weight: bold;"></strong> </span>
                    </div>

                    <div class="wallet-info mb-2">
                        <span style="font-size: 24px; color: #FFD800;"> Referral money : <span
                                th:text="${wallet.referralAmount}" style="color: white; font-weight: bold;"></span></span>
                    </div>
                    <p class="card-text" style="font-size: 24px; color: #FFD800;">
                        Amount in Wallet: <span style="color: white; font-weight: bold;">&#x20b9;</span>
                        <span th:text="${wallet.amount}" style="color: white; font-weight: bold;"></span>
                    </p>

                    <form id="walletAmount" th:action="@{/user/addToWallet}" method="post">
                        <div class="form-group">
                            <label for="amount" style="color: #D3D3D3;">Add Amount:</label>
                            <input type="number" id="amount" name="amount" class="form-control" style="width: 100px;" required>
                        </div>
                        <button type="submit" class="btn btn-warning">Add to Wallet</button>
                    </form>
                </div>
            </div>

        </div>

        <div class="col-md-8 col-lg-7">

            <div class="wallet mt-4">



                <div class="card referral-code h-100 d-flex align-items-center justify-content-center">
                    <div class="card-body text-center" style="padding: 20px;">
                        <h5 class="card-title" style="color: #FFD800;">Refer a Friend Give &#x20b9; 50. Get &#x20b9; 100</h5>
                        <p style="color: grey;">Spread this app! You'll get &#x20b9; 100 for each friend registered using your referral code. Only new customers are valid for the referral.</p>
                        <div class="card-body text-center"  >
                            <form th:action="@{/referWithMail}" method="get" class="form-inline d-flex justify-content-center">
                                <input type="text" id="referralCodeInput" name="email" class="form-control mt-2 mr-sm-2" placeholder="Your Friend's Email"/>
                                <button type="submit" class="btn btn-warning mt-2 ">SEND</button>
                            </form>
                        </div>

                        <hr style="border-color:#FFD800;">

                        <div style="width: 250px; height: 40px;  display: flex; align-items: center; margin: 0 auto;">
                            <span style="margin-right: 20px; color: #FFD800;"><strong>Referral Code:</strong></span>
                            <div class="btn-show-referral-code custom-input">
                                <strong><span style="color: white; font-weight: bold;" th:text="${userReferralCode}"></span></strong>
                            </div>
                        </div>
                    </div>
                </div>





            </div>

        </div>

    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>
