<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Address Form</title>
    <style>
        .card {
            width: 100%;
            margin: 10px 0;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            background-color: #21446B; /* Background color for all cards */

            transition: transform 0.2s;
        }

        .card:hover {
            transform: scale(1.05);
        }


    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg  navbar-custom" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}"  src="../static/images/logo.png" width="auto" height="80" class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link navbar-text" th:href="@{/admin}" href="#">admin-home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link navbar-text" th:href="@{/logout}" href="#">logout</a>
                </li>

            </ul>

        </div>
    </div>
</nav>


<div class="container-fluid mt-3">
    <h1 style="text-align: center;color:#FFD800">Order Management</h1>
    <table class="table text-secondary mt-3">
        <thead class="thead navbar-custom">
        <tr style="color:white">
            <th scope="col">SN</th>
            <th scope="col">Order ID</th>
            <th scope="col">User</th>
            <th scope="col">Order Date</th>
            <th scope="col">Status</th>
            <th scope="col">Total Price</th>
            <th scope="col">Update Status</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="order, iStat : ${orders}">
            <th scope="row" th:text="${iStat.index + 1}"></th>
            <td th:text="${order.orderId}"></td>
            <td th:text="${order.user.firstName}"></td>
            <td th:text="${order.orderDate}"></td>
            <td th:text="${order.status}"></td>
            <td style="color:green" th:text="${order.totalPrice}"></td>
            <td><a class="btn btn-warning" th:href="@{/admin/updateOrderStatus/{orderId}(orderId=${order.id})}">Update Status</a></td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
